/*
  Base Colors
*/

// White
$sn-white = #FFFFFF

// Black
$sn-black = #000000

// Grey
$sn-grey = #9B9B9B

// Red
$sn-red = #D44011

// Orange
$sn-orange = #F29F5A

// Green
$sn-green = #24d49A

// Brand
$sn-brand = #FEBA01

/*
  More usable vars
*/
$primary = $sn-black
$secondary = $sn-grey
$warning = $sn-red
$caution = $sn-orange
$success = $sn-green
$accent = $sn-brand


/**
  Text Classes
 */

.sn-text-primary
  color $primary

.sn-text-secondary
  color $secondary

.sn-text-warning
  color $warning

.sn-text-caution
  color $caution

.sn-text-success
  color $success

.sn-text-accent
  color $accent

/*
 Element Classes
 */

.sn-background-primary
  background-color $primary

.sn-background-secondary
  background-color $secondary

.sn-background-warning
  background-color $warning

.sn-background-caution
  background-color $caution

.sn-background-success
  background-color $success

.sn-background-accent
  background-color $accent
