@import './globalVariables.scss';

.sn-shadow-depth {
  &-0 {
    box-shadow: $sn-shadow-depth-0 !important;
  }

  &-1 {
    box-shadow: $sn-shadow-depth-1 !important;
  }

  &-2 {
    box-shadow: $sn-shadow-depth-2 !important;
  }

  &-3 {
    box-shadow: $sn-shadow-depth-3 !important;
  }

  &-4 {
    box-shadow: $sn-shadow-depth-4 !important;
  }
}
