/*
  Base Colors
*/
// White
$sn-white-var = --snui-color-white
$sn-white = #FFFFFF
// Black
$sn-black-var = --snui-color-black
$sn-black = #000000

// Grey
$sn-grey-var = --snui-color-grey
$sn-grey = #9B9B9B

// Red
$sn-red-var = --snui-color-red
$sn-red = #D44011

// Orange
$sn-orange-var = --snui-color-orange
$sn-orange = #F29F5A

// Green
$sn-green-var = --snui-color-green
$sn-green = #24D49A

// Brand
$sn-brand-var = --snui-color-brand
$sn-brand = #FEBA01

:root
  --snui-color-whitee $sn-white
  --snui-color-black $sn-black
  --snui-color-grey $sn-grey
  --snui-color-red $sn-red
  --snui-color-orange $sn-orange
  --snui-color-green $sn-green
  --snui-color-brand $sn-brand


/*
  More usable vars
*/
// Primary
$primary-var = $sn-black-var
$primary = $sn-black
// White
$white-var = $sn-white-var
$white = $sn-white
// Secondary
$secondary-var = $sn-grey-var
$secondary = $sn-grey
// Warning
$warning-var = $sn-red-var
$warning = $sn-red
// Caution
$caution-var = $sn-orange-var
$caution = $sn-orange
// Success
$success-var = $sn-green-var
$success = $sn-green
// Accent
$accent-var = $sn-brand-var
$accent = $sn-brand


$disabled-opacity = .2

resolveBrandColor(v)
  s("var(%s)", v)

// Helpers for adding lightness
lighten1(c)
  lighten(c, 25%)

lighten2(c)
  lighten(c, 50%)

lighten3(c)
  lighten(c, 75%)

disable(c)
  lighten(c, 80%)

/**
  Text Classes
 */

.sn-text-primary
  color $primary
  &--lighten-1
      color lighten1($primary)
  &--lighten-2
      color lighten2($primary)
  &--lighten-3
      color lighten3($primary)

.sn-text-secondary
  color $secondary
  &--lighten-1
    color lighten1($secondary)
  &--lighten-2
    color lighten2($secondary)
  &--lighten-3
    color lighten3($secondary)

.sn-text-warning
  color $warning
  &--lighten-1
    color lighten1($warning)
  &--lighten-2
    color lighten2($warning)
  &--lighten-3
    color lighten3($warning)

.sn-text-caution
  color $caution
  &--lighten-1
    color lighten1($caution)
  &--lighten-2
    color lighten2($caution)
  &--lighten-3
    color lighten3($caution)

.sn-text-success
  color $success
  &--lighten-1
    color lighten1($success)
  &--lighten-2
    color lighten2($success)
  &--lighten-3
    color lighten3($success)

.sn-text-accent
  color $accent
  &--lighten-1
    color lighten1($accent)
  &--lighten-2
    color lighten2($accent)
  &--lighten-3
    color lighten3($accent)

.sn-text-white
  color $white

/*
 Element Classes
 */

.sn-background-primary
  background-color $primary
  &--lighten-1
    background-color lighten1($primary)
  &--lighten-2
    background-color lighten2($primary)
  &--lighten-3
    background-color lighten3($primary)

.sn-background-secondary
  background-color $secondary
  &--lighten-1
    background-color lighten1($secondary)
  &--lighten-2
    background-color lighten2($secondary)
  &--lighten-3
    background-color lighten3($secondary)

.sn-background-warning
  background-color $warning
  &--lighten-1
    background-color lighten1($warning)
  &--lighten-2
    background-color lighten2($warning)
  &--lighten-3
    background-color lighten3($warning)

.sn-background-caution
  background-color $caution
  &--lighten-1
    background-color lighten1($caution)
  &--lighten-2
    background-color lighten2($caution)
  &--lighten-3
    background-color lighten3($caution)

.sn-background-success
  background-color $success
  &--lighten-1
    background-color lighten1($success)
  &--lighten-2
    background-color lighten2($success)
  &--lighten-3
    background-color lighten3($success)

.sn-background-accent
  background-color $accent
  &--lighten-1
    background-color lighten1($accent)
  &--lighten-2
    background-color lighten2($accent)
  &--lighten-3
    background-color lighten3($accent)
