/*
  Base Colors
*/

// White
$sn-white = #FFFFFF

// Black
$sn-black = #000000

// Grey
$sn-grey = #9B9B9B

// Red
$sn-red = #D44011

// Orange
$sn-orange = #F29F5A

// Green
$sn-green = #24d49A

// Brand
$sn-brand = #FEBA01

/*
  More usable vars
*/
$primary = $sn-black
$secondary = $sn-grey
$warning = $sn-red
$caution = $sn-orange
$success = $sn-green
$accent = $sn-brand

$disabled-opacity = .2

// Helpers for adding opacity
lighten1(c)
  rgba(c, .75)

lighten2(c)
  rgba(c, .50)

lighten3(c)
  rgba(c, .25)

/**
  Text Classes
 */

.sn-text-primary
  color $primary
  &--lighten-1
      color lighten1($primary)
  &--lighten-2
      color lighten2($primary)
  &--lighten-3
      color lighten3($primary)

.sn-text-secondary
  color $secondary
  &--lighten-1
    color lighten1($secondary)
  &--lighten-2
    color lighten2($secondary)
  &--lighten-3
    color lighten3($secondary)

.sn-text-warning
  color $warning
  &--lighten-1
    color lighten1($warning)
  &--lighten-2
    color lighten2($warning)
  &--lighten-3
    color lighten3($warning)

.sn-text-caution
  color $caution
  &--lighten-1
    color lighten1($caution)
  &--lighten-2
    color lighten2($caution)
  &--lighten-3
    color lighten3($caution)

.sn-text-success
  color $success
  &--lighten-1
    color lighten1($success)
  &--lighten-2
    color lighten2($success)
  &--lighten-3
    color lighten3($success)

.sn-text-accent
  color $accent
  &--lighten-1
    color lighten1($accent)
  &--lighten-2
    color lighten2($accent)
  &--lighten-3
    color lighten3($accent)

/*
 Element Classes
 */

.sn-background-primary
  background-color $primary
  &--lighten-1
    color lighten1($primary)
  &--lighten-2
    color lighten2($primary)
  &--lighten-3
    color lighten3($primary)

.sn-background-secondary
  background-color $secondary
  &--lighten-1
    color lighten1($secondary)
  &--lighten-2
    color lighten2($secondary)
  &--lighten-3
    color lighten3($secondary)

.sn-background-warning
  background-color $warning
  &--lighten-1
    color lighten1($warning)
  &--lighten-2
    color lighten2($warning)
  &--lighten-3
    color lighten3($warning)

.sn-background-caution
  background-color $caution
  &--lighten-1
    color lighten1($caution)
  &--lighten-2
    color lighten2($caution)
  &--lighten-3
    color lighten3($caution)

.sn-background-success
  background-color $success
  &--lighten-1
    color lighten1($success)
  &--lighten-2
    color lighten2($success)
  &--lighten-3
    color lighten3($success)

.sn-background-accent
  background-color $accent
  &--lighten-1
    color lighten1($accent)
  &--lighten-2
    color lighten2($accent)
  &--lighten-3
    color lighten3($accent)
