/*
  Base Colors
*/
// White
$sn-white = #FFFFFF

// Black
$sn-black = #000000
$sn-black-lighten-1 = #404040
$sn-black-lighten-2 = #7F7F7F
$sn-black-lighten-3 = #BFBFBF
$sn-black-lighten-4 = #E5E5E5
$sn-black-lighten-5 = #F2F2F2

// Red
$sn-red = #D44011
$sn-red-lighten-1 = #DF704D
$sn-red-lighten-2 = #E99F88
$sn-red-lighten-3 = #F4CFC3
$sn-red-lighten-4 = #FAEBE7

// Orange
$sn-orange = #F29F5A
$sn-orange-lighten-1 = #F6B783
$sn-orange-lighten-2 = #F8CEAC
$sn-orange-lighten-3 = #FCE7D5
$sn-orange-lighten-4 = #FDF5EE

// Green
$sn-green = #24D49A
$sn-green-lighten-1 = #5BDFB3
$sn-green-lighten-2 = #91E9CC
$sn-green-lighten-3 = #C8F4E5
$sn-green-lighten-4 = #E9FAF4

// Brand
$sn-brand-var = --snui-color-brand
$sn-brand = s("var(%s)", $sn-brand-var)
$sn-brand-default = #003A5D

:root
  --snui-color-brand $sn-brand-default


/*
  More usable vars
*/
// Primary
$primary = $sn-black
$primary-lighten-1 = $sn-black-lighten-1
$primary-lighten-2 = $sn-black-lighten-2
$primary-lighten-3 = $sn-black-lighten-3
$primary-lighten-4 = $sn-black-lighten-4
$primary-lighten-5 = $sn-black-lighten-5

// White
$white = $sn-white

// Warning
$warning = $sn-red
$warning-lighten-1 = $sn-red-lighten-1
$warning-lighten-2 = $sn-red-lighten-2
$warning-lighten-3 = $sn-red-lighten-3
$warning-lighten-4 = $sn-red-lighten-4

// Caution
$caution = $sn-orange
$caution-lighten-1 = $sn-orange-lighten-1
$caution-lighten-2 = $sn-orange-lighten-2
$caution-lighten-3 = $sn-orange-lighten-3
$caution-lighten-4 = $sn-orange-lighten-4

// Success
$success = $sn-green
$success-lighten-1 = $sn-green-lighten-1
$success-lighten-2 = $sn-green-lighten-2
$success-lighten-3 = $sn-green-lighten-3
$success-lighten-4 = $sn-green-lighten-4

// Accent
$accent = $sn-brand


$disabled-opacity = .2

/**
  Text Classes
 */

.sn-text-primary
  color $primary

  &--lighten-1
    color $primary-lighten-1

  &--lighten-2
    color $primary-lighten-2

  &--lighten-3
    color $primary-lighten-3

  &--lighten-4
    color $primary-lighten-4

  &--lighten-5
    color $primary-lighten-5

.sn-text-warning
  color $warning

  &--lighten-1
    color $warning-lighten-1

  &--lighten-2
    color $warning-lighten-2

  &--lighten-3
    color $warning-lighten-3

  &--lighten-4
    color $warning-lighten-4

.sn-text-caution
  color $caution

  &--lighten-1
    color $caution-lighten-1

  &--lighten-2
    color $caution-lighten-2

  &--lighten-3
    color $caution-lighten-3

  &--lighten-4
    color $caution-lighten-4

.sn-text-success
  color $success

  &--lighten-1
    color $success-lighten-1

  &--lighten-2
    color $success-lighten-2

  &--lighten-3
    color $success-lighten-3

  &--lighten-4
    color $success-lighten-4

.sn-text-accent
  color $accent

.sn-text-white
  color $white

/*
 Element Classes
 */

.sn-background-primary
  background-color $primary

  &--lighten-1
    background-color $primary-lighten-1

  &--lighten-2
    background-color $primary-lighten-2

  &--lighten-3
    background-color $primary-lighten-3

  &--lighten-4
    background-color $primary-lighten-4

  &--lighten-5
    background-color $primary-lighten-5

.sn-background-warning
  background-color $warning

  &--lighten-1
    background-color $warning-lighten-1

  &--lighten-2
    background-color $warning-lighten-2

  &--lighten-3
    background-color $warning-lighten-3

  &--lighten-4
    background-color $warning-lighten-4

.sn-background-caution
  background-color $caution

  &--lighten-1
    background-color $caution-lighten-1

  &--lighten-2
    background-color $caution-lighten-2

  &--lighten-3
    background-color $caution-lighten-3

  &--lighten-4
    background-color $caution-lighten-4

.sn-background-success
  background-color $success

  &--lighten-1
    background-color $success-lighten-1

  &--lighten-2
    background-color $success-lighten-2

  &--lighten-3
    background-color $success-lighten-3

  &--lighten-4
    background-color $success-lighten-4

.sn-background-accent
  background-color $accent

.sn-background-white
  background-color $white
