@font-face {
  font-family: 'SimpleNexusIcons';
  src:  url('../assets/fonts/SimpleNexusIcons.eot?mt5boa');
  src:  url('../assets/fonts/SimpleNexusIcons.eot?mt5boa#iefix') format('embedded-opentype'),
    url('../assets/fonts/SimpleNexusIcons.ttf?mt5boa') format('truetype'),
    url('../assets/fonts/SimpleNexusIcons.woff?mt5boa') format('woff'),
    url('../assets/fonts/SimpleNexusIcons.svg?mt5boa#SimpleNexusIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sn-icon-"], [class*=" sn-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'SimpleNexusIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sn-icon-flame:before {
  content: "\e981";
}
.sn-icon-home-search:before {
  content: "\e982";
}
.sn-icon-minus:before {
  content: "\e980";
}
.sn-icon-download:before {
  content: "\e97c";
}
.sn-icon-arrow-around:before {
  content: "\e97e";
}
.sn-icon-folder:before {
  content: "\e97f";
}
.sn-icon-arrow-down-circle:before {
  content: "\e976";
}
.sn-icon-arrow-left-circle:before {
  content: "\e977";
}
.sn-icon-arrow-right-circle:before {
  content: "\e978";
}
.sn-icon-arrow-up-circle:before {
  content: "\e979";
}
.sn-icon-city:before {
  content: "\e97a";
}
.sn-icon-dashboard:before {
  content: "\e97b";
}
.sn-icon-unlock:before {
  content: "\e97d";
}
.sn-icon-speech-bubble:before {
  content: "\e943";
}
.sn-icon-airplane:before {
  content: "\e900";
}
.sn-icon-apartment:before {
  content: "\e901";
}
.sn-icon-bank:before {
  content: "\e902";
}
.sn-icon-bar-chart-rise:before {
  content: "\e903";
}
.sn-icon-bell:before {
  content: "\e904";
}
.sn-icon-box:before {
  content: "\e905";
}
.sn-icon-cake:before {
  content: "\e906";
}
.sn-icon-calculator:before {
  content: "\e907";
}
.sn-icon-calendar:before {
  content: "\e908";
}
.sn-icon-camera:before {
  content: "\e909";
}
.sn-icon-case:before {
  content: "\e90a";
}
.sn-icon-chat:before {
  content: "\e90b";
}
.sn-icon-check-circle:before {
  content: "\e90c";
}
.sn-icon-check-list:before {
  content: "\e90d";
}
.sn-icon-check:before {
  content: "\e90e";
}
.sn-icon-chevron-down-small:before {
  content: "\e90f";
}
.sn-icon-chevron-down:before {
  content: "\e910";
}
.sn-icon-chevron-left-small:before {
  content: "\e911";
}
.sn-icon-chevron-left:before {
  content: "\e912";
}
.sn-icon-chevron-right-small:before {
  content: "\e913";
}
.sn-icon-chevron-right:before {
  content: "\e914";
}
.sn-icon-chevron-up-small:before {
  content: "\e915";
}
.sn-icon-chevron-up:before {
  content: "\e916";
}
.sn-icon-circle:before {
  content: "\e917";
}
.sn-icon-clipboard:before {
  content: "\e918";
}
.sn-icon-conditional-split:before {
  content: "\e919";
}
.sn-icon-cone:before {
  content: "\e91a";
}
.sn-icon-credit-card:before {
  content: "\e91b";
}
.sn-icon-delete:before {
  content: "\e91c";
}
.sn-icon-document-add:before {
  content: "\e91d";
}
.sn-icon-document-check:before {
  content: "\e91e";
}
.sn-icon-document-e-sign:before {
  content: "\e91f";
}
.sn-icon-document-image:before {
  content: "\e920";
}
.sn-icon-document-pdf:before {
  content: "\e921";
}
.sn-icon-document-sign:before {
  content: "\e922";
}
.sn-icon-document:before {
  content: "\e923";
}
.sn-icon-dollar-bills:before {
  content: "\e924";
}
.sn-icon-dollar-house:before {
  content: "\e925";
}
.sn-icon-earth:before {
  content: "\e926";
}
.sn-icon-exit-circle:before {
  content: "\e927";
}
.sn-icon-exit-small:before {
  content: "\e928";
}
.sn-icon-exit:before {
  content: "\e929";
}
.sn-icon-expand-arrows:before {
  content: "\e92a";
}
.sn-icon-export:before {
  content: "\e92b";
}
.sn-icon-external-link:before {
  content: "\e92c";
}
.sn-icon-eye:before {
  content: "\e92d";
}
.sn-icon-facebook:before {
  content: "\e92e";
}
.sn-icon-filters:before {
  content: "\e92f";
}
.sn-icon-gauge:before {
  content: "\e930";
}
.sn-icon-google-plus:before {
  content: "\e931";
}
.sn-icon-heart:before {
  content: "\e932";
}
.sn-icon-home-door:before {
  content: "\e933";
}
.sn-icon-home-finance-arrow:before {
  content: "\e934";
}
.sn-icon-home-finance:before {
  content: "\e935";
}
.sn-icon-house:before {
  content: "\e936";
}
.sn-icon-crosshairs:before {
  content: "\e937";
}
.sn-icon-inbox:before {
  content: "\e938";
}
.sn-icon-instagram:before {
  content: "\e939";
}
.sn-icon-laptop:before {
  content: "\e93a";
}
.sn-icon-link:before {
  content: "\e93b";
}
.sn-icon-linkedin:before {
  content: "\e93c";
}
.sn-icon-list:before {
  content: "\e93d";
}
.sn-icon-loading:before {
  content: "\e93e";
}
.sn-icon-lock:before {
  content: "\e93f";
}
.sn-icon-mail:before {
  content: "\e940";
}
.sn-icon-mailbox:before {
  content: "\e941";
}
.sn-icon-map:before {
  content: "\e942";
}
.sn-icon-menu-dots-horizontal:before {
  content: "\e944";
}
.sn-icon-menu-dots-vertical:before {
  content: "\e945";
}
.sn-icon-menu-hamburger:before {
  content: "\e946";
}
.sn-icon-mobile-phone2:before {
  content: "\e947";
}
.sn-icon-music:before {
  content: "\e948";
}
.sn-icon-number-1:before {
  content: "\e949";
}
.sn-icon-number-2:before {
  content: "\e94a";
}
.sn-icon-number-3:before {
  content: "\e94b";
}
.sn-icon-paper-airplane:before {
  content: "\e94c";
}
.sn-icon-pencil-paper:before {
  content: "\e94d";
}
.sn-icon-pencil:before {
  content: "\e94e";
}
.sn-icon-people-multiple:before {
  content: "\e94f";
}
.sn-icon-people-share:before {
  content: "\e950";
}
.sn-icon-person-add:before {
  content: "\e951";
}
.sn-icon-person-check:before {
  content: "\e952";
}
.sn-icon-person:before {
  content: "\e953";
}
.sn-icon-phone-alert:before {
  content: "\e954";
}
.sn-icon-phone-mobile:before {
  content: "\e955";
}
.sn-icon-phone:before {
  content: "\e956";
}
.sn-icon-picture:before {
  content: "\e957";
}
.sn-icon-pinterest:before {
  content: "\e958";
}
.sn-icon-plus-circle:before {
  content: "\e959";
}
.sn-icon-plus:before {
  content: "\e95a";
}
.sn-icon-printer:before {
  content: "\e95b";
}
.sn-icon-question-mark:before {
  content: "\e95c";
}
.sn-icon-receipt:before {
  content: "\e95d";
}
.sn-icon-restricted:before {
  content: "\e95e";
}
.sn-icon-sandals:before {
  content: "\e95f";
}
.sn-icon-save:before {
  content: "\e960";
}
.sn-icon-screen:before {
  content: "\e961";
}
.sn-icon-search:before {
  content: "\e962";
}
.sn-icon-settings:before {
  content: "\e963";
}
.sn-icon-share:before {
  content: "\e964";
}
.sn-icon-star:before {
  content: "\e965";
}
.sn-icon-text:before {
  content: "\e966";
}
.sn-icon-thumbs-down:before {
  content: "\e967";
}
.sn-icon-thumbs-up:before {
  content: "\e968";
}
.sn-icon-touch-id:before {
  content: "\e969";
}
.sn-icon-trash:before {
  content: "\e96a";
}
.sn-icon-triangle-down:before {
  content: "\e96b";
}
.sn-icon-triangle-up:before {
  content: "\e96c";
}
.sn-icon-trulia:before {
  content: "\e96d";
}
.sn-icon-twitter:before {
  content: "\e96e";
}
.sn-icon-upload:before {
  content: "\e96f";
}
.sn-icon-video:before {
  content: "\e970";
}
.sn-icon-warning:before {
  content: "\e971";
}
.sn-icon-wet-sign:before {
  content: "\e972";
}
.sn-icon-yelp:before {
  content: "\e973";
}
.sn-icon-youtube:before {
  content: "\e974";
}
.sn-icon-zillow:before {
  content: "\e975";
}
